@font-face {
  font-weight: normal;
  font-family: "Ginger";
  src: url("https://res.cloudinary.com/dgg9enyjv/raw/upload/v1517572141/Marbodal/fonts/ginger/F37Ginger-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  color: #444444;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  font-family: "Ginger";
} 

.active {
  border: 1px solid rgb(165, 116, 116);
  border-radius: 0.2rem;
  padding: 0;
}


button > * {
  pointer-events: none;
}